[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
moviepy = "==1.0.0"
pymongo = "*"
ffmpeg-python = "*"
python-dotenv = "*"
ipykernel = "*"

[requires]
python_version = "3.6"
